/*
  DIAGNOSTIC STYLING
*/
body {
  background-color: rgb(16, 16, 16);
  color: white;
}

/* Nav Bar */

#navbar{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style-type: none;
  width: auto;
  height:50px;
  background-color: rgb(16, 16, 16);
}

li{
  margin: 1em;
}

a{
  text-decoration: none;
  color:white;
}

a:hover{
  background-color: rgb(29, 29, 29);
  font-size: 18px;
  padding: .55em;
}

a.current {
  background-color: black;
  padding: .75em
}

/* Headers */
#header{
  text-align: center;
}

/* Portfolio Styling */
.lg-backdrop{
  background-color:black
}

